<div id='container'>
<!-- Your code here -->
<form novalidate class = "simple-form">
  url: <input type = "url" ng-model="link.url" placeholder ="Enter your url" /><br />
  <p class ="error" ng-show = 'if({{link.url}})'>url is invalid</p>
  <button ng-click = 'addLink()' >SHORTEN</button>
{{link.url}}asdasdasd

</div>


<!-- <div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()'>
    <input type='text'ng-model='user.username'>
    <input type="password" ng-model='user.password'>
    <button>signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div> -->
