<div id='container'>
<!-- Your code here -->
<form novalidate name= "shorten-form">
  url: <input name= "urlName" type = "url" ng-model="link.url" placeholder ="Enter your url" />
  <p class ='error' ng-hide = 'isValidUrl(link.url)'>INVALID URL</p>
  </br>
  </br>
  <button ng-disabled = "!isValidUrl(link.url)" ng-click = 'addLink()' >SHORTEN</button>
  {{link.url}}

</div>


<!-- <div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()'>
    <input type='text'ng-model='user.username'>
    <input type="password" ng-model='user.password'>
    <button>signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div> -->
